---
import Footer from '../components/Footer.astro';
import Contact from '../components/Contact.astro';
---
<title>Contacto</title>
<meta name="description" content="Contactate conmigo">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="Footer">
<Contact/>
</div>
<Footer/>


<style>
	body{
		margin: 0 auto;
		background: rgb(100,0,129);
		background: linear-gradient(0deg, rgba(100,0,129,1) 0%, rgba(7,7,7,1) 17%, rgba(0,0,0,1) 95%, rgba(84,1,107,1) 100%);
	}

	.Footer{
		padding: 8rem;
	}
</style>