---
import Ytexp from '../components/Ytexp.astro';
import Header from '../components/Header.astro';
import Sobre_mi from '../components/Sobre_mi.astro';
import Footer from '../components/Footer.astro';
import Contacto from '../components/Contact.astro';
import Producciones from '../components/Producciones.astro';
---
<title>Banger Productions</title>
<meta name="description" content="Mi portfolio de produccion musical">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<Header/>
<Sobre_mi/>
<Producciones/>
<Ytexp/>
<Contacto/>
<Footer/>


<style>
	body{
		margin: 0 auto;
		background: rgb(100,0,129);
		background: linear-gradient(0deg, rgba(100,0,129,1) 0%, rgba(7,7,7,1) 17%, rgba(0,0,0,1) 95%, rgba(84,1,107,1) 100%);
	}