---
import Footer from '../components/Footer.astro';
---


<title>Suscripciones</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<div class="cont">
<h1 class="title">SUSCRÍBETE</h1>

<p class="text">en mi patreon les daré acceso a cursos, mis ultimas producciones,
     vlogs de mi dia a dia y material inédito en mis otras redes</p>

<div class="link">
    <a href="#">MI PATREON</a>
</div>

</div>


<Footer/>




<style>
    body{
        margin: 0 auto;
        background: rgb(100,0,129);
		background: linear-gradient(0deg, rgba(100,0,129,1) 0%, rgba(7,7,7,1) 17%, rgba(0,0,0,1) 95%, rgba(84,1,107,1) 100%);
        color: white;
        font-family: sans-serif;
    }

    .cont{
    eight: 14rem;
    display: flex;
    /* width: 32rem; */
    margin: 7rem;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    }

    .title{
        margin-bottom: 1rem;
    }

    .text{
        margin-bottom: 1rem;
        max-width: 47rem;
    }

    @media screen and (600px) {
        .cont{
        height: 14rem;
        display: flex;
        margin: 5rem;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        }

        .title{
            margin-bottom: 1rem;
            text-align: center;
        }

        .text{
            margin-bottom: 1rem;
        }
    }

    a{
    padding: .6rem;
    width: 9rem;
    text-align: center;
    background-color: rgba(31, 31, 31, 1);
    border-radius: 5rem;
    color: white;
    text-decoration: none;
    }

    a:hover{
        color: rgba(202, 29, 164, 1);

    }

    .link{
        display: flex;
        justify-content: center;
    }
    
</style>